{"Maximum": 25.96, "SampleCount": 5.0, "Minimum": 20.57, "Sum": 110.5, "metric_dimensions": "InstanceId=[i-4dd02a65]", "Unit": "Percent", "period": 300, "account_id": "063605715280", "Average": 22.1, "metric_name": "CPUUtilization"}
{"Maximum": 25.96, "SampleCount": 5.0, "Minimum": 20.57, "Sum": 110.5, "metric_dimensions": "InstanceId=[i-4dd02a65]", "Unit": "Percent", "period": 300, "account_id": "063605715280", "Average": 22.2, "metric_name": "CPUUtilization"}
{"Maximum": 25.96, "SampleCount": 5.0, "Minimum": 20.57, "Sum": 110.5, "metric_dimensions": "InstanceId=[i-4dd02a65]", "Unit": "Percent", "period": 300, "account_id": "063605715280", "Average": 22.3, "metric_name": "CPUUtilization"}
{"Maximum": 25.96, "SampleCount": 5.0, "Minimum": 20.57, "Sum": 110.5, "metric_dimensions": "InstanceId=[i-4dd02a65]", "Unit": "Percent", "period": 300, "account_id": "063605715280", "Average": 22.4, "metric_name": "CPUUtilization"}
{"Maximum": 25.96, "SampleCount": 5.0, "Minimum": 20.57, "Sum": 110.5, "metric_dimensions": "InstanceId=[i-4dd02a65]", "Unit": "Percent", "period": 300, "account_id": "063605715280", "Average": 22.5, "metric_name": "CPUUtilization"}
{"Maximum": 25.96, "SampleCount": 5.0, "Minimum": 20.57, "Sum": 110.5, "metric_dimensions": "InstanceId=[i-4dd02a65]", "Unit": "Percent", "period": 300, "account_id": "063605715280", "Average": 22.6, "metric_name": "CPUUtilization"}
{"Maximum": 25.96, "SampleCount": 5.0, "Minimum": 20.57, "Sum": 110.5, "metric_dimensions": "InstanceId=[i-4dd02a65]", "Unit": "Percent", "period": 300, "account_id": "063605715280", "Average": 22.7, "metric_name": "CPUUtilization"}
{"Maximum": 25.96, "SampleCount": 5.0, "Minimum": 20.57, "Sum": 110.5, "metric_dimensions": "InstanceId=[i-4dd02a65]", "Unit": "Percent", "period": 300, "account_id": "063605715280", "Average": 22.8, "metric_name": "CPUUtilization"}
{"Maximum": 25.96, "SampleCount": 5.0, "Minimum": 20.57, "Sum": 110.5, "metric_dimensions": "InstanceId=[i-4dd02a65]", "Unit": "Percent", "period": 300, "account_id": "063605715280", "Average": 22.9, "metric_name": "CPUUtilization"}
{"Maximum": 25.96, "SampleCount": 5.0, "Minimum": 20.57, "Sum": 110.5, "metric_dimensions": "InstanceId=[i-4dd02a65]", "Unit": "Percent", "period": 300, "account_id": "063605715280", "Average": 22.0, "metric_name": "CPUUtilization"}
